html{
  font-family: Arial, Helvetica, sans-serif;
}
header {
  padding: 10px 40px;
  /* background: #1a374d; */
  /* box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3); */
  background: #212832;
  color: white;
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; */
}


.problem_statement{
  margin-top: 10px;
}
.header-right{
  display: flex;
  width: 30%;
  justify-content: space-between;
  text-align: right;
  align-items: center;
}

.header-right p{
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  /* margin-bottom: 5px; */
}

.heading{
  font-size: 28px;
  font-weight: bold;
  margin: 20px 0 0 0;
}
.visualization {
  margin: auto;
  width: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
}

#chart_heading{
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

#drawspace {
  margin: "10px";
  background-color: white;
}

label {
  color: black;
  padding: 5px;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}




.details {
  padding-left: 0;
  list-style: none;
  margin: 0;
}



.description {
  text-align: center;
  padding: 10px;
}

#tooltip {
  position: relative;
  top: 10px;
  letter-spacing: 1px;
  font-size: 25px;
  color: #000000;
  font-weight: bold;
}

#canvas1 {
  float: left;
  margin: 10px;
}

#canvas2 {
  float: left;
  margin: 10px;
}

#canvas3 {
  float: left;
  margin: 10px;
}

#canvas4 {
  float: left;
  margin: 10px;
}

#canvas5 {
  float: left;
  margin: 10px;
}

#canvas6 {
  float: left;
  margin: 10px;
}

#loading-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#loader {
  position: relative;
  top: 50px;
  left: -25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 50%;
  color: #000000;
}

.spinner-4 {
  width:50px;
  height:50px;
  border-radius:50%;
  padding:1px;
  background:conic-gradient(#0000 10%,#f03355) content-box;
  -webkit-mask:
    repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
    radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 calc(100% - 8px));
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation:s4 1s infinite steps(10);
}
@keyframes s4 {to{transform: rotate(1turn)}}



.charts{
  display: flex;
  flex-wrap:wrap;
  /* align-items: center; */
  justify-content: center;
}
/* 
main {
  margin-top: 1em;
  margin-bottom: 1em;
} */
